footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            table(class="vcard")

                thead

                    tr

                        th(colspan="2" class="org") Contact Us

                tbody

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-address")
                        td(class="street-address") sales@keyshake.io

        div

            ul

                li

                    a(href="#")

                        svg(role="img" title="Connect with us on LinkedIn")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-linkedin")
