section(class="canvas section-3" id="section-3")

    h2 Our Team

    div(class="content")

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Bonnie Marano
                h4 President
                p.
                    Bonnie has an M.S. from the University of Pennsylvania and is credentialed internationally as a Certified Career Development Coach 
                    and Certified Leadership Coach. She is a dedicated and motivated leader with experience in marketing, recruiting, professional coaching, 
                    education, and academic research. She possesses exceptional interpersonal skills and is able to effectively communicate in a sensitive, 
                    flexible, and responsive manner with people of diverse ages, backgrounds, and levels of authority. 
                    She is results-driven, innovative and dexterous in planning and executing strategies to achieve desired goals. 
                    In her free time she enjoys shaping future female leaders and entrepreneurs by volunteering as a leader of her daughter’s 
                    Girl Scout troop, which boasted the second-highest cookie sales in their service unit during their first year as Daisy Scouts! 
                    (This year they hope to be number one.) 


        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Angelo Marano
                h4 Principal Consultant
                p.
                    Angelo Marano is Keyshake’s Principal Consultant. 
                    His personal portfolio includes major projects for the U.S. Army and Navy, PHL International, Comcast, the Ivy League, 
                    and several professional sports teams, among others. 
                    Angelo is an analytical thinker and problem-solver often called upon to consult on issues that have eluded resolution by others. 
                    He is a skilled architect with experience building and troubleshooting software and systems through the full lifecycle of 
                    the design process--from inception to delivery. 
                    As a cutting-edge technology leader, he is able to connect the relationship between a system's architecture and its quality attributes, 
                    creating high-quality applications that support and sustain organizational vision, mission and goals. 
                    Through effective management and subject-matter expertise, Angelo can help you research, develop and calculate the costs and benefits of new technologies, while reviewing and ensuring the efficiency of your current information systems. Besides software, Angelo’s passions include family and fitness. When he isn’t writing code you can probably find him in the gym, at an escape room with his wife or at the arcade with his daughter. 

    +nav-1("front", "prev")
