section(class="canvas section-1" id="section-1")

    h2 About Us

    div(class="content")

        div

            img(src="images/home/section-1/_inline/data.svg" inline)

            article

                h2 About Keyshake

                p.
                    At Keyshake we are experts in software development and architecture. 
                    Our professionals have years of proven, real world experience utilizing the highest standards and best practices implementing 
                    technology in a variety of industries including healthcare, education, NGOs, 
                    sports management, telecommunications, entertainment, transportation, aerospace and defense.

    +nav-1("section-2")
