section(class="canvas section-2" id="section-2")

    h2 What we offer

    div(class="content")

        div

            img(src="images/home/section-2/_inline/web-design.svg" inline)

            article

                h2 Technology Consulting
                p.
                    At Keyshake, we do more than build software. We add value to your bottom line.
                    It is our goal to find out what your needs are and develop technology solutions to make your operations more effective and efficient.

        div

            img(src="images/home/section-2/_inline/algorithm.svg" inline)

            article

                h2 Custom Software Development
                p.
                    Have a project or product idea you need built from the ground up? Perfect. We will be the ones who build it better. 
                    Our custom software development services can help you increase your profits and become a leader in your industry.
                    From idea to design, testing, implementation and production, we turn your dreams into reality.

        div

            img(src="images/home/section-2/_inline/web-design.svg" inline)

            article

                h2 Application Managment
                p.
                    Have a project or product gone awry? Give us a shout. We can throw you a lifeline. 
                    While it is easier to be hired at the beginning of a project, we understand that sometimes corners get cut, 
                    leaving you stuck with a mess that needs to be cleaned up. This is where we can come in and shine.

    +nav-1("section-3")
